*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header */
header{
    height: 160px;
}

header .header_title,
header nav{
    height: 50%;
}
header .header_title{
    font-size: 3rem;
    padding-top: 1.2rem;
}
header nav{
    background-color: lightblue;
    text-align: center;
    line-height: 80px;
}


/* body */
body .container{
    height: calc(100vh - 160px);
    overflow-y: scroll;
    background-color: lightgray;
    padding: 0px 20px;

}

body .container .content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}


.box{
    height: 150px;
    width: 200px;
    background-color: white;
    margin: 10px 0;
}
.last_box::after{
    content: " ";
    flex: auto;
}




/* debug */

.debug .container .content{

}